@import url(http://fonts.googleapis.com/css?family=Hammersmith+One);

#back-overlay{ /* Overlay Backgroung */
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: url(img/back.gif);
    background-repeat: repeat;
    z-index: 1;
    pointer-events: none;
}

#conteudo{ /* caixa geral */
    position: absolute;
    width: 1000px;
    min-height: 50%;
    height: auto;
    top: 0px;
    margin-left: -500px;
    background-color: #FFF;
    z-index: 2;
    box-shadow: 0 0 5px 2px #555;
    left: 50%;
    padding: 10px;
}


header{ /* header */
    font-family: Hammersmith One;
    font-size: 3em;
    position: relative;
    text-align: center;
    width: 100%;
    top: 0px;
    height: 64px;
    background-color: #BBB;
    z-index: 3;
    align-self: center;
}

.htext{ /* texto dentro de header */
    text-decoration: none;
    color: black;
}

.htext:hover{
    text-decoration: underline;
}


#menu{ /* menu principal */
    width: 100%;
    height: 48px;
    background-color: #888;
    display: inline-block;
    z-index: 4;
}

.menuitem{ /* itens dentro do menu */
    width: 196px;
    text-align: center;
    font-size: 36px;
    height: 43px;
    font-size: 12px;
    padding-top: 5px;
    display: inline-block;
    z-index: 5;
    transition: .5s;
}

.menuitem:hover{
    background-color: #fba;
    transition: .5s;
}

/* Backgroung Animations */

@keyframes background-slide {
    0%  {background-image: url(img/2014-04-03%2022.49.52.jpg); background-repeat: no-repeat; background-size: cover;}
    20% {background-image: url(img/2013-05-27%2013.04.01.jpg); background-repeat: no-repeat; background-size: cover;}
    40% {background-image: url(img/2013-05-27%2012.58.10.jpg); background-repeat: no-repeat; background-size: cover;}
    60% {background-image: url(img/2013-05-27%2013.02.38.jpg); background-repeat: no-repeat; background-size: cover;}
    80% {background-image: url(img/2013-04-19%2016.20.04.jpg); background-repeat: no-repeat; background-size: cover;}
    100%{background-image: url(img/2014-04-03%2022.49.52.jpg); background-repeat: no-repeat; background-size: cover;}
}

@-webkit-keyframes background-slide {
    0%  {background-image: url(img/2014-04-03%2022.49.52.jpg); background-repeat: no-repeat; background-size: cover;}
    20% {background-image: url(img/2013-05-27%2013.04.01.jpg); background-repeat: no-repeat; background-size: cover;}
    40% {background-image: url(img/2013-05-27%2012.58.10.jpg); background-repeat: no-repeat; background-size: cover;}
    60% {background-image: url(img/2013-05-27%2013.02.38.jpg); background-repeat: no-repeat; background-size: cover;}
    80% {background-image: url(img/2013-04-19%2016.20.04.jpg); background-repeat: no-repeat; background-size: cover;}
    100%{background-image: url(img/2014-04-03%2022.49.52.jpg); background-repeat: no-repeat; background-size: cover;}
}

#background{
    z-index: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    
    animation: background-slide 45s ease infinite;
    -webkit-animation: background-slide 45s ease infinite;
}

#background:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

/* Fim background Animations */