body{
    background-color: #999;
    background-image: url(img/back.gif);
    background-repeat: repeat;
    z-index: 0;
}

#conteudo{
    position: absolute;
    width: 1000px;
    min-height: 100%;
    height: auto;
    top: 0px;
    margin-left: -500px;
    background-color: #FFF;
    z-index: 2;
    box-shadow: 0 0 5px 2px #555;
    left: 50%;
    padding: 10px;
}